<footer id="footer">
  <nav class="footer-navigation">
    <div class="container">
      <div class="row">
        <div class="three columns">
          <a href="/en/about/">About us</a>
          <a href="/en/posts/diving-how-to-guides-koh-chang/">How to guides</a>
          <a href="/en/faqs/faq-getting-here-accommodation/"
            >Getting to Koh Chang</a
          >
          <a href="/en/dive-sites/">Dive sites</a>
          <a href="/en/faqs/">FAQs</a>
          <a href="/en/videos/">Videos</a>
          <a href="/en/contact/">Contact us</a>
        </div>
        <div class="three columns">
          <a href="/en/courses/">Courses</a>
          <a href="/en/courses/open-water-diver/">Open Water Diver</a>
          <a href="/en/courses/advanced/">Advanced Diver</a>
          <a href="/en/courses/rescue-diver/">Rescue Diver</a>
          <a href="/en/courses/divemaster/">Divemaster</a>
          <a href="/en/courses/sdi-idc/">IDC</a>
        </div>
        <div class="three columns">
          <a href="/en/day-trips/">Day Trips</a>
          <a href="/en/day-trips/fun-dives/">Fun Dives</a>
          <a href="/en/day-trips/try-dive/">Try Diving</a>
          <a href="/en/day-trips/scuba-review/">Scuba Review</a>
          <a href="/en/day-trips/snorkeling/">Snorkeling</a>
        </div>
        <div class="three columns">
          <a href="/en/courses/open-advanced-package/">OW & Advanced</a>
          <a href="/en/courses/deep-wreck-nitrox/">Deep, Wreck, Nitrox</a>
          <a href="/en/courses/open-to-divemaster/">Open to Divemaster</a>
          <a href="/en/courses/tech-package/">Technical Diving</a>
        </div>
      </div>
    </div>
  </nav>
  <div class="footer-meta">
    <div class="container">
      <p>
        <strong>Phone, WhatsApp & Line:</strong>
        <a href="tel:+66894013927">+66 (0) 894-013-927</a>
      </p>
      <p>
        Chang Diving Center Co.,Ltd<br />
        21/52 Moo 4, Klong Prao Beach<br />
        Koh Chang, Trat, Thailand 23170
      </p>
      <p>
        <a href="/en/terms-and-conditions/">Terms</a> |
        <a href="/en/privacy-policy/">Privacy</a> |
        <a href="/en/refund-policy/">Refunds</a>
      </p>
      <p>
        <strong>DBD:</strong> 0237354800207 &nbsp;
        <strong>TAT:</strong> 13/02754 &nbsp;
        <strong>Tax ID:</strong> 0-2355-48000-20-7
      </p>
      <p>
        <strong>2025 © Chang Diving Center CO.,LTD</strong>
      </p>
    </div>
  </div>
</footer>
