<footer id="footer">
  <nav class="footer-navigation">
    <div class="container">
      <div class="row">
        <div class="three columns">
          <a href="/th/about/">เกี่ยวกับเรา</a>
          <a href="/th/posts/diving-how-to-guides-koh-chang/">คู่มือการดำน้ำ</a>
          <a href="/th/faqs/faq-getting-here-accommodation/"
            >การเดินทาง & ที่พัก</a
          >
          <a href="/th/dive-sites/">จุดดำน้ำ</a>
          <a href="/th/faqs/">คำถามที่พบบ่อย</a>
          <a href="/th/videos/">วิดีโอ</a>
          <a href="/th/contact/">ติดต่อเรา</a>
        </div>
        <div class="three columns">
          <a href="/th/courses/">คอร์ส</a>
          <a href="/th/courses/open-water-diver/">Open Water Diver</a>
          <a href="/th/courses/advanced/">Advanced Diver</a>
          <a href="/th/courses/rescue-diver/">Rescue Diver</a>
          <a href="/th/courses/divemaster/">Divemaster</a>
          <a href="/th/courses/sdi-idc/">IDC</a>
        </div>
        <div class="three columns">
          <a href="/th/day-trips/">ไปเช้าเย็นกลับ</a>
          <a href="/th/day-trips/fun-dives/">ฟันไดฟ์</a>
          <a href="/th/day-trips/try-dive/">ลองดำน้ำ</a>
          <a href="/th/day-trips/scuba-review/">Scuba Review</a>
          <a href="/th/day-trips/snorkeling/">Snorkeling</a>
        </div>
        <div class="three columns">
          <a href="/th/courses/open-advanced-package/">OW & Advanced</a>
          <a href="/th/courses/deep-wreck-nitrox/">Deep, Wreck, Nitrox</a>
          <a href="/th/courses/open-to-divemaster/">Open to Divemaster</a>
          <a href="/th/courses/tech-package/">Technical Diving</a>
        </div>
      </div>
    </div>
  </nav>
  <div class="footer-meta">
    <div class="container">
      <p>
        <strong>โทรศัพท์, WhatsApp และ Line:</strong>
        <a href="tel:+66894013927">+66 (0) 894-013-927</a>
      </p>
      <p>
        บจก ช้างไดร์วิ่ง เซ็นเตอร์<br />
        21/52 หมู่ที่ 4,<br />
        อ.เกาะช้าง ต.เกาะช้าง จ.ตราด 23170 ประเทศไทย
      </p>
      <p>
        <a href="/th/terms-and-conditions/">ข้อกำหนดและเงื่อนไข</a> |
        <a href="/th/privacy-policy/">นโยบายความเป็นส่วนตัว</a> |
        <a href="/th/refund-policy/">นโยบายการคืนเงิน</a>
      </p>
      <p>
        <strong>DBD:</strong> 0237354800207 &nbsp;
        <strong>TAT:</strong> 13/02754 &nbsp;
        <strong>Tax ID:</strong> 0-2355-48000-20-7
      </p>
      <p>
        <strong>2025 © Chang Diving Center CO.,LTD</strong>
      </p>
    </div>
  </div>
</footer>
